<div class="container" >
  <div class="d-flex flex-row m-2 p-2">
    <h1><%= fa_icon "building", class: "fa-fw" %></h1>
    <div class="d-flex flex-column">
      <h3 class="fw-bold"><%= @job.company %></h3>
      <h6><%= @job.role %></h6>
    </div>
  </div>
  <div class="container border rounded mx-2 my-4 p-2 d-flex justify-content-around">
    <div class="col">
      <% if @job.status == 'Interview' && @job.interview_date.nil? == false %>
        <p><%= fa_icon "tasks", class: "text-primary fa-fw" %> <%= @job.status %> <span class="text-muted"><%= "(scheduled for #{@job.interview_date})" %></span></p>
      <% else %>
        <p><%= fa_icon "tasks", class: "text-primary fa-fw" %> <%= @job.status %></p>
      <% end %>
      <p><%= fa_icon "user", class: "text-primary fa-fw" %> <%= @job.level %></p>
    </div>
    <div class="col">
      <p><%= fa_icon "map-marker", class: "text-primary fa-fw" %> Montréal, Canada </p>
      <p><%= fa_icon "laptop", class: "text-primary fa-fw" %> Open to Remote Work: <%= @job.remote ? 'Yes' : 'No' %></p>
    </div>
  </div>

  <div class="m-2 p-2">
    <%= @job.description %>
  </div>
  <div class="m-2 p-2">
      <p><%= fa_icon "link", class: "text-primary fa-fw" %> <a href="https://ca.indeed.com/", class="text-decoration-none">See the Job Posting</a></p>
  </div>

<%# Edit job status %>
<!--
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Update status
  </button>
-->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update the status of your application at <%= @job.company %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @job do |f| %>
          <%= f.input :status, label: "Where are you at in the application process?", as: :select, collection: Job::STATUS %>
          <%= f.submit "Update status", class: "btn btn-sm btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <div class="mx-2 my-4 p-2">
    <h3 class="fw-bold">Suggested Resources Related to <span class="text-primary"><%= @job.role %></span> Positions</h3>
    <div class="row justify-content-left">
      <div class="col-9">
        <%= render 'shared/job_resource' %>
      </div>
    </div>
  </div>
</div>
