<div class="container main-container">

  <div class="row container-dashboard" data-controller="edit-goal">

    <div class="col-8 m-5 wrapper-dashboard">

      <div class="header-dashboard d-flex flex-row justify-content-between">

        <div class="wrapper-header-title">
          <h5> Hello <b><%= current_user.full_name.capitalize %></b>, Welcome Back!</h5>
        </div>

        <div class="wrapper-header-date">
          <h5> <%= image_tag("icon-date.svg", class: "m-1") %><%= @today %></h5>
        </div>

      </div>

      <div class="goal-section">
        <h3 class= "mb-4 mt-5">My Goal</h3>

        <div class="p-3 info-card d-flex flex-row">
          <div class="p-2 icon-card">
            <%=image_tag("icon-goal.svg") %>
          </div>
          <%= render 'shared/goal_card', goal: @goal, jobs: @jobs %>
        </div>
        <% if @goal.nil? %>
          <%= link_to "Add a Goal", new_goal_path %>
        <% else %>
          <%= render "shared/goal", goal: @goal %>
        <% end %>
        <% unless @jobs.nil? %>
          <button class="btn btn-sm btn-primary" data-edit-goal-target="edit"
                  data-action="click->edit-goal#displayForm">Edit Your Goal</button>
        <% end %>
      </div>

      <div class="credit-section">
        <h3 class= "mb-4 mt-5">My Credits</h3>

        <div class="p-3 info-card d-flex flex-row">
          <div class="p-2 icon-card">
            <%=image_tag("icon-credits.svg") %>
          </div>
          <div class="m-2 align-self-center text-card d-flex flex-column">
            <p class="fw-bold">You have <%= pluralize(current_user.credits, 'credit')%> left.</p>
            <%= link_to 'Share a resource to get more credits!', new_resource_path, class: "text-decoration-none" %>
          </div>
        </div>
      </div>

      <div class="job-preview-section">
        <div class="d-flex flex-row align-items-center gap-3">
          <h3 class= "mb-4 mt-4">My Job Applications</h3>
          <%= link_to 'View all', jobs_path, class: "text-decoration-none" %>
        </div>
        <%= render 'shared/job_preview' %>
      </div>

      <div class='my-resources-section'>
        <div class="d-flex flex-row align-items-center gap-3">
          <h3 class= "mb-4 mt-4">My Resources</h3>
          <%= link_to 'View all', my_resources_resources_path, class: "text-decoration-none" %>
        </div>
        <%= render 'shared/resources' %>
      </div>

    </div>


    <%# KPIs SECTION %>

    <div class="col-3 wrapper-kpi">
      <h3 class="mt-5 p-3"> My KPIs</h3>
      <%= render 'shared/kpi_card', applications_left_to_reach_goal: @applications_left_to_reach_goal,
                                    applications_total: @applications_total,
                                    interviews_total: @interviews_total,
                                    my_resources_total: @my_resources_total %>
    </div>

  </div>

</div>
