<h1>My Dashboard</h1>
<h3>My goal</h3>
<p><%= @goal.description %></p>

<%= link_to 'Add a Goal', new_goal_path %>
<%= link_to 'Edit your Goal', edit_goal_path(@goal) %>

<div class='border border-primary'>
  <p><%= pluralize(current_user.credits, 'credit')%></p>
</div>

<div class='border border-primary'>
  <%= link_to 'My Job Applications', jobs_path %>
  <% @jobs.each do |job| %>
    <div>
      <%= job.company %>
    </div>
  <% end %>
</div>

<div class='border border-primary'>
  <%= link_to 'My Resources', my_resources_resources_path %>
  <% @resources.each do |resource| %>
    <div>
      <%= resource.title %>
    </div>
  <% end %>
</div>

<div class='border border-primary'>
  <p>You have <%= pluralize(@goal.job_target - @goal.jobs.count, 'Application') %>left to meet your goal</p>
  <p>You have posted <%= pluralize(current_user.resources.count, 'Resource') %></p>
</div>
