<div class="container">
  <h1>My Dashboard</h1>
  <h3>My goal</h3>
  <% unless @jobs.nil? %>
    <p><%= @goal.description %></p>
  <% else %>
    <p>You currently have not set a goal!</p>
  <% end %>

  <%= link_to 'Add a Goal', new_goal_path %>
  <% unless @jobs.nil? %>
    <%= link_to 'Edit your Goal', edit_goal_path(@goal) %>
  <% end %>

  <div class='border border-primary'>
    <p><%= pluralize(current_user.credits, 'credit')%></p>
  </div>

  <div class='border border-primary'>
    <%= link_to 'My Job Applications', jobs_path %>
    <% unless @jobs.nil? %>
      <% @jobs.each do |job| %>
        <div>
          <%= job.company %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class='border border-primary'>
    <%= link_to 'My Resources', my_resources_resources_path %>
    <% @resources.each do |resource| %>
      <div>
        <%= resource.title %>
      </div>
    <% end %>
  </div>

  <div class='border border-primary'>
    <% unless @jobs.nil? %>
      <p>You have <%= pluralize(@goal.job_target - @goal.jobs.count, 'Application') %>left to meet your goal</p>
      <p>You have posted <%= pluralize(current_user.resources.count, 'Resource') %></p>
    <% end %>
  </div>
</div>
