<div class="container">

  <div class="container-dashboard">

    <div class="mt-5 ml-3 wrapper-dashboard">

      <div class="header-dashboard">

        <div class="wrapper-header-title">
          <h5> Hello <%= current_user.full_name %>, welcome back!</h5>
        </div>

        <div class="wrapper-header-date">
          <h5> <%= @today %></h5>
        </div>

      </div>

      <h3 class= "mb-4 mt-4">My goal</h3>

      <div class="p-3 info-card">
      <% unless @jobs.nil? %>
        <p><%= @goal.description %></p>
      <% else %>
        <p>You currently have not set a goal!</p>
      <% end %>
      </div>

      <%= link_to 'Add a Goal', new_goal_path %>
      <% unless @jobs.nil? %>
        <%= link_to 'Edit your Goal', edit_goal_path(@goal) %>
      <% end %>

      <h3 class= "mb-4 mt-4">My credits</h3>

      <div class="p-3 info-card">
        <p><%= pluralize(current_user.credits, 'credit')%></p>
      </div>

       <h3 class= "mb-4 mt-4">My job applications</h3>

        <%= link_to 'View all', jobs_path %>
        <% unless @jobs.nil? %>
          <% @jobs.each do |job| %>
            <div>
              <%= job.company %>
            </div>
          <% end %>
        <% end %>

      <div class='border border-primary'>
        <%= link_to 'My Resources', my_resources_resources_path %>
        <% @resources.each do |resource| %>
          <div>
            <%= resource.title %>
          </div>
        <% end %>
      </div>

      <div class='border border-primary'>
        <% unless @jobs.nil? %>
          <p>You have <%= pluralize(@goal.job_target - @goal.jobs.count, 'Application') %>left to meet your goal</p>
          <p>You have posted <%= pluralize(current_user.resources.count, 'Resource') %></p>
        <% end %>
      </div>
    </div>

    <div class="mt-5 wrapper-kpi">
      <h5> My KPIs</h5>
      <%= render 'shared/kpi_card' %>
    </div>

  </div>
</div>
