<div class="container d-flex flex-row justify-content-end text-end flex-nowrap gx-2 pt-2">
    <p><%= fa_icon "usd", class: "fa-fw" %> <%= "#{current_user.credits} credits left" %></p>
    <% if current_user.image_url.nil? %>
      <%= image_tag("dummy-image.png", class:"img-topbar mx-2") %>
    <% else %>
      <%= cl_image_tag current_user.image_url.key, class:"img-topbar" %>
    <% end %>
    <p class="fw-bold"><%= current_user.full_name %></p>
</div>
