<% unless current_user.nil? %>
  <div class="container d-flex flex-row align-items-baseline justify-content-end flex-nowrap gx-2 pt-2">
    <div class="d-flex flex-row mx-2 rounded rounded-4 user-card">
      <% if current_user.image_url.nil? %>
        <%= image_tag("dummy-image.png", class:"img-topbar mx-2") %>
      <% else %>
        <%= image_tag("#{current_user.image_url}", class:"img-topbar mx-2") %>
      <% end %>
      <div class= "m-2 user-info">
        <p class="fw-bold align-self-center mb-0 mt-2 user-name"><%= current_user.full_name %></p>
        <div class="d-flex flex-row align-self-center">
          <%= image_tag("icon-credits.svg", class:"img-topbar-credits") %>
          <p class="g-3" data-resources-target="credit"><%= "#{current_user.credits} credits left" %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
