<div class="container m-2 p-2">
  <div class="row">
    <div class="col-9">
      <h2 class="text-center fw-bold my-5">Share a resource with the TechCompass community!</h2>
        <%= simple_form_for @resource do |f| %>
          <%= f.input :title %>
          <%= f.input :summary %>
          <%= f.rich_text_area :rich_content, class: "mb-3 rounded rounded-3 trix-text-field", data: { action: "trix-change->live-reload#displayHtml" } %>
          <%= f.input :image, as: :file %>
          <%= f.input :level, as: :select, collection: Resource::LEVEL %>
          <%= f.input :tags, as: :select, collection: Resource::TAGS %>
          <%= f.submit "Add a Resource", class: "btn btn-sm btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
