<div class="container">
  <h3 class="fw-bold"><%= @resource.title %></h3>
  <div class="d-flex flex-row align-items-center">
    <% if current_user.image_url.nil? %>
      <%= image_tag("dummy-image.png", class:"img-avatar mx-2") %>
    <% else %>
      <%= cl_image_tag current_user.image_url, class:"img-avatar" %>
    <% end %>
    <p><%= "by #{@resource.user.full_name}" %></p>
  </div>
  <p class="my-4"><%= @resource.summary %></p>

  <% if @resource.user == current_user %>
    <div class="rich-content my-5"><%= @resource.rich_content %></div>
  <% elsif current_user.credits < 5 && !current_user.viewed?(@resource) %>
    <div class="hidden_text_container">
        <div class="background_blur">
          <div class="rich-content my-5"><%= @resource.rich_content %></div>
        </div>
        <div class="pop_up_container">
          <div class="pop_up d-flex flex-column p-3 text-center rounded rounded-3 shadow-lg">
            <%= image_tag("anxious-face-with-sweat.png", class: "mx-auto d-block img-fluid img-popup my-2") %>
            <p>You need <b>5 more credits</b> to continue reading this resource.</p>
            <div class="d-flex flex-column justify-content-center gap-3">
              <%= link_to 'Share your experience to get more credits!', new_resource_path %>
              <%= link_to 'Take me back to the previous page', resources_path %>
            </div>
          </div>
        </div>
      </div>
  <% else %>
    <div class="hidden_text_container"
         data-resources-id-value="<%= @resource.id %>"
         data-resources-viewed-value="<%= current_user.viewed?(@resource) %>"
         data-resources-check-value="<%= @resource.user == current_user %>"
         data-resources-target="rich_content">
      <div class="background_blur" data-resources-target="blur">
        <div class="rich-content my-5"><%= @resource.rich_content %></div>
      </div>
       <div class="pop_up_container" data-resources-target="pop_up">
          <div class="pop_up d-flex flex-column p-3 text-center rounded rounded-3 shadow-lg">
            <%= image_tag("magic-wand.png", class: "mx-auto d-block img-fluid img-popup my-2") %>
            <p></p>
            <p>You need <b>5 credits</b> to access this resource.</p>
            <p>Do you wish to use <b>5 credits</b>?</p>
            <div class="d-flex flex-row justify-content-center gap-3">
              <button class="btn btn-link text-primary p-0 m-0 border-0" data-action="resources#viewResource">Absolutely!</button>
              <%= link_to "No, I don't", resources_path %>
            </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
